<!DOCTYPE html>
<html>
  <head>
    <title>EbookPlatform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      function toggleMenu() {
        var menu = document.getElementById("mobileMenu");
        menu.classList.toggle("hidden");
      }
    </script>
  </head>

  <body class="bg-zinc-900">
    <div class="flex w-full items-center md:justify-around justify-between p-8">
      <div>
        <h1 class="sm:text-3xl text-xl font-semibold text-white">
          <span class="text-green-400">eBook</span>Platform
        </h1>
      </div>

      <div class="hidden md:flex">
        <ul class="flex">
          <% if user_signed_in? %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "p-2 text-white font-semibold bg-green-400 rounded-lg ml-5 cursor-pointer" %>
          <% else %>
            <%= link_to 'Entrar', new_user_session_path, class: "p-2 text-white cursor-pointer" %>
            <%= link_to 'Cadastre-se', new_user_registration_path, class: "p-2 text-white font-semibold bg-green-400 rounded-lg ml-5 cursor-pointer" %>
          <% end %>
        </ul>
      </div>

      <div class="md:hidden">
        <button onclick="toggleMenu()" class="text-white">MENU</button>
      </div>
    </div>

    <div id="mobileMenu" class="hidden md:hidden bg-zinc-800 p-4">
      <ul class="flex flex-col items-start justify-center items-center">
        <% if user_signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "block p-2 text-white font-semibold bg-green-400 rounded-lg mt-2 w-[70%] text-center" %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path, class: "block p-2 text-white cursor-pointer mt-2 w-[70%] text-center" %>
          <%= link_to 'Cadastre-se', new_user_registration_path, class: "block p-2 text-white font-semibold bg-green-400 rounded-lg mt-2 w-[70%] text-center" %>
        <% end %>
      </ul>
    </div>

    <%= yield %>

    <div class="flex md:flex-row flex-col w-full items-center justify-around p-8 bg-zinc-950 mt-40 h-[250px]">
      <h1 class="md:text-3xl text-xl font-semibold text-white">
        <span class="text-green-400">eBook</span>Platform
      </h1>
      <p class="md:text-base text-xs text-white">@todosdireitosreservados</p>
      <p class="md:text-base text-xs text-white">eBookPlatform@contato.com</p>
    </div>
  </body>
</html>
